@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  @apply bg-white;
}

html {
  scroll-behavior: smooth;
}